{% extends "users/profile/profile_base.html" %}

{% block profile_content %}
    <div class="profile--project--related">
        <h5 class="text-center project--title">{{tab_label}}</h5>
        <div class="profile--projects--container">
            {% for request in requests %}
                {% include "users/includes/accepted_project.html" with job=request.job button_text=button_text %}
            {% empty %}
                <h5 class="text-center">
                    Вы ещё не состоите ни в одном из проектов 😴
                </h5>
            {% endfor %}
        </div>
    </div>
{% endblock profile_content %}