{% extends "base.html" %}
{% load i18n buttons %}

{% block content %}
    <form method="POST" class="profile--section form-styled feedback--form">
        <h5 class="text-center">Обратная связь</h5>
        {% csrf_token %}
        {% for field in feedback_extra_form %}
            <p>
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <br>
                {{field}}
            </p>
        {% endfor %}
        {% for field in feedback_form %}
            <p>
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <br>
                {{field}}
            </p>
        {% endfor %}
        <p class="text-center">Время ожидание ответа составляет от 1 до 5 рабочих дней</p>
        {% submit_button "Отправить" %}
    </form>
{% endblock %}
