<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <!-- Мета данные -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PetPreneur{% endblock title %}</title>
    
    <!-- Фавиконки -->

    <!-- Шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <div class="site-container">
        {% include "includes/header.html" %}
        {% block content %}
            <h1>Ошибка! Блок `content` не задан или был использован base.html!</h1>
        {% endblock content %}
        {% include "includes/footer.html" %}
    </div>
</body>
</html>