{% load buttons %}
{% load thumbnail %}

<div class="project--small">
    {% if job.image %}
        {% thumbnail job.image "100x57" as thumb %}
            <img src="{{thumb.url}}" alt="project-image">
        {% endthumbnail %}
    {% else %}
        {% thumbnail job.default_image_url "100x57" as thumb %}
            <img src="{{thumb.url}}" alt="project-image">
        {% endthumbnail %}
    {% endif %}
    <p class="text-style-navtext">{{job.title}}</p>
    <form method="POST">
        {% csrf_token %}
        <div class="flex-row gap1">
            {% if redirect_button %}
                {% url redirect_button.base_endpoint pk=job.id as redirect_url %}
                {% link_button redirect_button.text redirect_url %}
            {% endif %}
            {% submit_button button_text name="id" value=job.id color="red" %}
        </div>
        <time datetime="{{job.created_at}}">{{job.created_at}}</time>
    </form>
</div>