* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, .h2 {
    font-family: "Outfit", sans-serif;
    font-size: min(3.5vw, 3.5rem);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.1vw;
}

h5, .h5 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-center {
    text-align: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col-grow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-col-grow > * {
    flex: 1;
}

.form-styled {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: space-between;
}

.form-styled textarea,
.form-styled input:not([type="checkbox"]):not([type="file"])
{
    width: 100%;
    border-radius: 8px;
    border: 2px solid rgba(0, 2, 53, 0.80);
    background: #FFF;
    min-height: 34px;
}

.form-styled textarea {
    height: 100%;
}

.form-styled > p {
    margin-block: 10px;
}

.form-styled > p:has(textarea) {
    flex-grow: 1;
}

.form-styled button[type="submit"] {
    width: 100%;
}

.form-styled span.field--required {
    color: red;
}

.form-styled label {
    margin-left: 0.3rem;
}

body {
    --light-text-color: #FFF;
    --main-dark-color: #000235;
    --dark-blue-color: #1B1D5E;
    --accent-color: 27, 25, 102;
    font-family: "Inter", sans-serif;
    color: var(--light-text-color);
    background-color: var(--main-dark-color);
    min-height: 100vh;
}

section {
    margin-block: 26px;
}

a {
    color: inherit;
    text-decoration: none;
}

.active {
    font-weight: 600;
}

.grid-split-2 {
    display: grid;
    place-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-split-2 > div {
    height: fit-content;
}

.grid-split-2 > img {
    max-width: min(400px, 100%);
}

.site-container {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-width: 1125px;
    margin-inline: auto;
}

.text-style-navtext {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1px;
}

/* footer */

.temp-size-restrict {
    max-width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    border-radius: 25.8px 25.8px 0px 0px;
    padding: 29px 40px;
    background: rgba(108, 99, 255, 0.25);
}

/* Navbar */

/* landing */

#quote-title {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
}

.quote-of-the-day {
    position: relative;
    padding: 23px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(var(--accent-color), 0.8);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    border-radius: 38px;
    text-align: center;
    border: 5px solid #FFF;
    padding: 20px 40px;
    gap: 1rem;
    background: linear-gradient(98deg, rgba(111, 107, 249, 0.80) 0%, rgba(99, 180, 255, 0.80) 100%);
}

.call-to-action > * {
    margin-inline: auto;
    width: fit-content;
}

.call-to-action > h1 {
    font-size: min(5vw, 3rem);
    max-width: 50%;
}

/* profile */

.profile--section {
    background-color: var(--dark-blue-color);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    margin-block: auto;
    height: 70vh;
    border-radius: 55px;
    border: 14px solid #1B1D5E;
    padding: 20px 45px;
    background: linear-gradient(180deg, #3A38BE 0%, #63B4FF 100%);
    overflow-y: auto;
}

.profile-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 17px 20px;
    border-radius: 55px;
    border: 3px solid #000;
    background: #1B1D5E;
}

.profile-navigation > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    font-size: 1.25rem;
}

.profile-navigation > nav:first-of-type {
    width: fit-content;
    font-size: 25px;
}

.profile-navigation .button {
    align-self: center;
}

.profile--skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile--skills--container {
    min-height: 200px;
    
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--dark-blue-color);
}

.profile--resume {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex: 1;
}

.profile--resume > textarea {
    font-family: "Inter", sans-serif;
    background-color: var(--dark-blue-color);
    color: white;
    border: black 2px solid;
    border-radius: 10px;
    padding: 5px;
    resize: none;
    flex: 1;
}

.profile--resume > button[type="submit"] {
    width: auto;
}

.profile--project--related {
    flex: 1;
}

.profile--projects--container {
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 55vh;
}

@media (max-width: 760px) {
    /* .profile-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-block: 2rem;
    } */

    .profile-container h5 {
        margin-bottom: 1rem;
    }

    .profile-navigation .button {
        display: none;
    }   
}

/* job-creation */

.job-creation {
    flex-wrap: nowrap;
}

.job-creation > * {
    flex: 1;
}

.job-creation-form-container {
    display: flex;
    flex-direction: column;
}

.job-creation-form-container > form {
    flex: 1;
}