{% extends "base.html" %}
{% load buttons %}

{% block content %}

    <section class="project--display--filter">
        <form class="container-50 form-styled gap1">
            <h5 class="text-center">Кого мы ищем?</h5>
            <div class="project--display--criterion">
                {% for field in search_form %}
                    <p>
                        <label for="{{field.id_label_for}}">{{field.label}}</label>
                        <br>
                        {{field}}
                    </p>
                {% endfor %}
            </div>
            <div class="project--searchsubmit--section">
                {% submit_button "Найти" %}
                <p>Найдено результатов: X</p>
                <p>Карточек на странице: X</p>
            </div>
        </form>
    </section>

    <section class="project--search--container">
        {% for job in jobs %}
            <div>{{job}}({{job.category.name}}, {{job.subcategory.name}})</div>
        {% endfor %}
    </section>

{% endblock content %}




{% comment %} {% with request.resolver_match.view_name as view_name %}
{% if view_name == "jobs:jobs" %}
    <form action="{% url view_name %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
{% endif %}

{% if view_name == "jobs:category" %}
    <form action="{% url 'jobs:category' category %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
{% endif %}

{% if view_name == "jobs:subcategory" %}
    <form action="{% url "jobs:subcategory" category subcategory  %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
{% endif %}

{% endwith %} {% endcomment %}