{% extends "base.html" %}
{% load buttons %}

{% block content %}
{% with request.resolver_match.view_name as view_name %}
{% if view_name == "jobs:jobs" %}
    <form action="{% url view_name %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
{% endif %}

{% if view_name == "jobs:category" %}
    <form action="{% url 'jobs:category' category %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
{% endif %}

{% if view_name == "jobs:subcategory" %}
    <form action="{% url "jobs:subcategory" category subcategory  %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
{% endif %}

{% endwith %}
{% for job in jobs %} {{ job }} {% endfor %}
{% endblock content %}