{% load static buttons %}
<header>
    <a href="{% url "home:home" %}" class="navbar--brand">
        <img src="{% static "img/logo.svg" %}" alt="site-brand">
        <h3 class="navbar--text">petpreneur</h3>
    </a>
    <nav>
        {% url "jobs:jobs" as project_marketplace_url %}
        <a class="text-style-navtext" href="#">Резюме людей</a>
        <a class="text-style-navtext" href="{{project_marketplace_url}}">Биржа проектов</a>
    </nav>

    {% if request.user.is_authenticated %}
        {% url "users:profile" as profile_link %}
        <a href="{{profile_link}}">
            <p>Добро пожаловать, <strong>{{request.user.username}}</strong></p>
        </a>
    {% else %}
        {% url "users:signup" as signup_url %}
        {% url "users:login" as login_url %}
        <div class="navbar--buttons">
            {% link_button "Войти" login_url state="hovered" %}
            {% link_button "Регистрация" signup_url %}
        </div>
    {% endif %}
</header>
{% if messages %}
{% for message in messages %}
{% if forloop.first %}
<article class="navbar--message message--{{message.tags}}">
    <i class="fi fi-rr-info"></i>
    <p>{{message}}</p>
</article>
{% endif %}
{% endfor %}
{% endif %}
