{% extends "base.html" %}
{% load buttons %}

{% block title %}
    Регистрация
{% endblock %}
{% block content %}
    <div class="signup--wrapper">
        <div class="signup--form--container">
            
        </div>
        <div class="signup--second--box box--login">
            {% url "users:signup" as signup_url %}
            <p>Впервые здесь?</p>
            {% link_button "Войти" signup_url color="black" state="hovered" %}
        </div>
        <form method="POST" class="vertical--rectangle rectangle--login form-styled">
            <h5 class="text-center">Авторизация</h5>
            {% csrf_token %}
            <div class="">
                {% for field in form %}
                    <p>
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        <br>
                        {{field}}
                    </p>
                {% endfor %}
            </div>
            <div>
                {% submit_button "Войти" %}

            </div>
        </form>
    </div>
{% endblock content %}
